<section class="h-100 gradient-custom-2">
    <div class="card container py-5 h-100"><h1 class="text-center">Login Here  </h1>
        <%= form_with scope: :user, url: login_path ,local: true do |data| %>
        <p>
        <%= data.label :email%>
        <br>
        <%= data.text_field :email%>
        </p>
        <p>
        <%= data.label :password%>
        <br>
        <%= data.text_field :password, placeholder: "Enter Your Password "%>
        </p>
        <p>
        <%= data.submit%>
        </p>
        <%end%>
    </div>
</section>