<h1>This is Edit Space for article</h1>
<%= render 'shared/errors', obj: @article %>
<%= form_with(model: @article) do |data| %>
<p>
<%= data.label :title%>
<br>
<%= data.text_field :title%>
</p>
<p>
<%= data.label :description%>
<br>
<%= data.text_area :description%>
</p>
<p>
<%= data.submit%>
</p>
<%end%>