<%= render 'shared/errors', obj: @article %>
<h1 class="text-center">THis is new article creation space</h1>
<%= form_with scope: :article, url: articles_path ,local: true do |data| %>
<p>
<%= data.label :title%>
<br>
<%= data.text_field :title%>
</p>
<p>
<%= data.label :description%>
<br>
<%= data.text_area :description%>
</p>
<p>
<%= data.submit%>
</p>
<%end%>