<%= render 'shared/errors', obj: @user %>


<section class="h-100 gradient-custom-2">
  <div class="card container py-5 h-100"><h1 class="text-center">SignUp Here  </h1>
        <%= form_with scope: :user, url: users_path ,local: true do |data| %>
        <p>
        <%= data.label :username%>
        <br>
        <%= data.text_field :username%>
        </p>
        <p>
        <%= data.label :email%>
        <br>
        <%= data.text_field :email%>
        </p>
        <p>
        <%= data.label :password%>
        <br>
        <%= data.text_field :password%>
        </p>
        <p>
        <%= data.submit%>
        </p>
        <%end%>
    </table>
  </div>
</section>