<section class="h-100 gradient-custom-2">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-9 col-xl-7">
        <div class="card">
          <div class="rounded-top text-white d-flex flex-row" style="background-color: #000; height:200px;">
            <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">
              <%=gravator_for  @user %>
            </div>
            <div class="ms-3" style="margin-top: 130px;">
              <h5><%=@user.username%></h5>
              <h5>User Articles - <%=@user.articles.length%></h5>
            </div>
            
          </div>
          <div class="p-4 text-black" style="background-color: #f8f9fa;">
            <div class="d-flex justify-content-end text-center py-1">
              <div>
              <%if logged_in? and @user == current_user%>
                <p class="mb-1 h5"><%= link_to 'Edit Profile', edit_user_path(@user) , class: "text-center"%></p>
              </div>
              <div class="px-3">
                <%= button_to 'Delete User Profile', user_path(current_user) ,class: "text-center text-danger", method: :delete ,data: { confirm: "Are You Sure?"}%>
              </div>
              <%end%>
            </div>
          </div>
          <div class="card-body p-4 text-black">
            <div class="d-flex justify-content-between align-items-center mb-4">
              
            <div class="row g-2">
                <%@user.articles.each do |article|%>
                    <div class="card mr-3" style="width: 18rem;">
                        <div class="card-body">
                        <h5 class="card-title"><%=article.title%></h5>
                        <h6 class="card-subtitle mb-2 text-muted text-truncate">by - <%=link_to article.user.username,user_path(article.user)%></h6>
                        <p class="card-text text-truncate"><%=article.description%></p>
                        <%=link_to 'Show', article_path(article)%>
                        <%if logged_in? and (current_user == article.user or current_user.admin?)%>
                        <%=link_to 'Edit', edit_article_path(article)%>
                        <%= button_to 'Delete', article_path(article), method: :delete, data: { confirm: 'Are you sure?' } %>
                        <%end%>
                        Joined <%=time_ago_in_words(article.created_at) %>
                        </div>
                    </div>
                <%end%>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>